@import "tailwindcss";

#root {
  padding: 2rem;
  text-align: center;
}

#cards, #userList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

#users dl, .card {
  max-width: 150px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
}

#users dl {
  display: grid;
  grid-template-columns: 60px 1fr;
  margin: 0;
  text-align: left;
}

#users dl dt {
  font-weight: bolder;
}

#users dl dd {
  margin: 0;
}


